@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body{
    overflow: hidden;
    font-family: "Almendra", serif;
    font-weight: 400;
    font-style: normal;
  }
  .scrollBar::-webkit-scrollbar{
    width: 5px;
  }
  .scrollBar::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .scrollBar::-webkit-scrollbar-thumb {
    background-color: #000000;
  }
  .button-container:hover .button-slide {
    transform: translateX(0);
  }
  .button-container:hover .button {
    color: #ffffff;
  }
  .main-bx:hover .slide-bx {
    transform: translateY(0);
  }
  .main-bx:hover .image {
    overflow: hidden;
    transform: scale(1.3);
  }
  .subText {
    background: -webkit-linear-gradient(180deg, #000000, #3f3f3f, #ffffff );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}